{% extends 'base.html' %}

{% block title %}
    <title>PDHIS-about</title>
{% endblock title %}

{% block content %}
  <div class="container">
    
      <center><h1>About Us</h1></center>
  </div>
  <center>
  <p>
  We are five students who have built a system that will enable effective communication between the patients at home and the professional staff at the hospital,
  with an emphasis on health services provided remotely and immediately
  </p>
</center>
  <h3>Our goals:</h3>
  <ul>
      <li>Building a friendly website for a patient who lacks technological knowledge.</li>
      <li>Increasing patient satisfaction with the service provided to them</li>
      <li>Setting an appointment that takes into account the patient's data and calculates its urgency.</li>
      <li>Responding to the patient, in an emergency situation or in need of medical information by a doctor without having to go to the emergency room.</li>
    </ul>



{% endblock content %}