{% extends 'base2.html' %}
{% load static %}
{% block cta %}


<div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>welcome!home page of doctor.</h1>
                <p> At our Medical Center
                    we combine world class medicine
                    with compassionate care. </p>

            </div>

        </div>
    </div>

{% endblock cta %}

{% block content %}


  
  
        <!-- Wrapper for carousel items -->
       





{% endblock content %} 




